<%# it is only to show the reults, it is NOT in form! %>
<h1>My lists!</h1>
<p><%= link_to "create a new list!", new_list_path, class: "btn btn-info btn-sm "%></p>
<div class="container">
  <% @lists.each do |list| %>
    <div class="card">
      <h6 class="card-text list-title"><em><%= list.name %></em></h6>
      <div class="inner-flex">
        <%= button_to "Delete", list, method: :delete, class:"btn btn-danger" %>
      </div>
      <p class="card-text list-extract">You have <%= list.list_ingredients.count %> ingredients in this list</p>
      <p class="card-text list-extract">Created on <%= list.created_at.strftime("%d %b %Y") %></p>
      <p><%= link_to "open my list", list_path(list), class: "btn btn-info btn-sm "%></p>
    </div>
  <% end %>
</div>
