<h1><%=@list.name%></h1>
<%= form_with url: bulk_update_list_list_ingredients_path(@list), method: :patch, id: :bulk_actions_form do |form| %>
  <%= form.submit "Bought!" %>
<% end %>
<%= render partial: "list_ingredients", collection: @list_ingredients %>
<%= render "list_ingredients/add_ingredient_form", edit: false %>
