<!--
<div>
  <% @favourite_recipes.each do |fr| %>
    <div class ="row hoverable posts-background">
      <div class ="col s10">
        <%= link_to "#{fr.recipe.title}", recipe_path(fr.recipe)%>
        <p>Added on: <%=fr.created_at.strftime("%b %d, %Y")%></p>
        <%= button_to "💔", favourite_recipe_path(fr), method: :delete, class: "btn bg-light-gray border-0", id: "buttonz", style: "background-color: transparent;" %>
      </div>
    </div>
  <% end %>
</div>
-->


<%#= link_to "unfavourite", favourite_recipe_path(fr), method: :delete %>
<div class="content" id="content-recipe">
  <div class="container">
    <%= form_tag recipes_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a recipe"
      %>
      <%= number_field_tag :total_time,
          params[:total_time],
          class: "form-control",
          placeholder: "Max cooking time",
          step: 'any',
          min: 0
      %>
      <%= number_field_tag :serving,
          params[:serving],
          class: "form-control",
          placeholder: "Serving",
           step: 'any',
          min: 0
      %>
      <%= select_tag "difficulty", options_for_select(["1", "2", "3"]), {:prompt => 'Difficulty', class: "form-control"} %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
  <p><%= link_to "create a new recipe!", new_recipe_path, class: "btn btn-info btn-sm "%></p>
    <h1 class="page_title">My Favourite Recipes</h1>
    <p class="page_subtitle">Those might be the best recipes in the world! Have fun cooking - and preventing food waste.</p>
    <div class="box-grid">
      <% @favourite_recipes.each do |favourite_recipe| %>
        <% recipe = favourite_recipe.recipe %>
        <% if recipe.image.attached? %>
          <%= render "recipes/card_header_image", recipe: recipe%>
        <% else %>
          <%= render "recipes/card_header_text", recipe: recipe%>
        <% end %>
      <% end %>
    </div>
    <%= will_paginate @recipes, class: "apple_pagination" %>
  </div>
