<!--
<section class="h-100 h-custom gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="p-5">
                <div class="px-5">
                  <h1 class="text-primary text-cente text-uppercase text-decoration-none fw-bold mb-5">Sign up</h1>

                  <h3 class="text-secondary text-decoration-none mb-4 pb-2 mx-4">General Information</h3>

                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
                    <%= f.error_notification %>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-input">
                        <%= f.input :first_name, label: false,
                                    required: true,
                                    autofocus: true,
                                    input_html: { placeholder: "First name", autocomplete: "given-name", class: " form-control-lg" }
                                    %>

                      </div>
                    </div>

                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-input">
                        <%= f.input :last_name, label: false,
                                    required: true,
                                    input_html: { placeholder: "Last name", autocomplete: "family-name", class: "form-control-lg" }
                                    %>
                      </div>
                    </div>
                  </div>
                  <div class="mb-1.5 pb-2">
                    <div class="form-input">
                      <%= f.input :password, label: false,
                                  required: true,
                                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                  input_html: { placeholder: "Password", autocomplete: "new-password", class: "form-control-lg" }
                                  %>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-input">
                      <%= f.input :password_confirmation, label: false,
                                  required: true,
                                  input_html: { placeholder: "Password confirmation", autocomplete: "new-password", class: "form-control-lg" }
                                  %>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-input">
                      <%= f.input :email, label: false,
                                  required: true,
                                  input_html: { placeholder: "Email", autocomplete: "email", class: "form-control-lg" }
                                  %>
                    </div>
                  <div>

                  <h3 class="text-secondary text-decoration-none my-4 py-2 mx-4">Contact Details</h3>


                  <div class="mb-4 pb-2">
                    <div class="form-input">
                          <%= f.input :address, label: false,
                                      required: true,
                                      input_html: { placeholder: "Street-address", autocomplete: "street-address", class: "form-control-lg" }
                                      %>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-input">
                          <%= f.input :country, label: false,
                                      required: true,
                                      input_html: { placeholder: "Country", class: "form-control-lg" } %>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-input">
                        <%= f.input :city, label: false,
                                    required: true,
                                    autofocus: true,
                                    input_html: { placeholder: "City", autocomplete: "given-name", class: " form-control-lg" }
                                    %>

                      </div>
                    </div>

                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-input">
                        <%= f.input :post_code, label: false,
                                    required: true,
                                    input_html: { placeholder: "Post code", autocomplete: "family-name", class: "form-control-lg" }
                                    %>
                      </div>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-input">
                          <%= f.input :phone_number, label: false,
                                      input_html: { placeholder: "Phone number", autocomplete: "street-address", class: "form-control-lg" }
                                      %>
                    </div>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Register", class: "btn btn-primary align-center" %>
                  </div>
                  <% end %>
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->


    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">
                    <!-------Image-------->
                    <%= image_tag "logo_fridgi_empty.svg", alt: "Fridgi Logo" %>
                    <div class="text">
                        <p>Cooking is love you can taste<i>- Fridgi</i></p>
                    </div>
                </div>
                <div class="col-md-6 right">
                     <div class="input-box">
                        <header>Create account</header>
                        <div class="input-field">
                            <input type="text" class="input" id="email" required autocomplete="off">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <input type="password" class="input" id="password" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Sign Up">

                        </div>
                        <div class="signin">
                            <span>Already have an account? <a href="#">Log in here</a></span>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
