
  <%= link_to recipe_path(recipe), class: "box" do %>
    <div class="box-header box-image">
      <%= image_tag recipe.image.url %>
    </div>
    <div class="box-body">
      <h2><%= recipe.title %></h2>
      <p>by <%= recipe.user.first_name.capitalize %> <%= recipe.user.last_name.capitalize %></p>
    </div>
  <% end %>
