

  <%= link_to recipe_path(recipe), class: "box" do %>
    <div class="box-header">
      <h1><%= recipe.title %></h1>
    </div>
    <div class="box-body">
      <p>by <%= recipe.user.first_name.capitalize %> <%= recipe.user.last_name.capitalize %></p>
    </div>
  <% end %>

<!--
    <%= link_to recipe_path(recipe), class: "box" do %>
    <div class="box-header box-image">
      <%= image_tag "https://source.unsplash.com/4_jhDO54BYg" %>
    </div>
    <div class="box-body">
      <h2><%= recipe.title %></h2>
      <p>by <%= recipe.user.first_name.capitalize %> <%= recipe.user.last_name.capitalize %></p>
    </div>
  <% end %>
-->
