<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <%= f.input :ingredient_id, collection: Ingredient.all, label_method: :name, label_value: :id, include_hidden: false %>
  <%= f.input :quantity %>
  <%= f.input :unit, collection: Unit.all, label: "Unit", include_blank: true, input_html: { class: "form-control" } %>
  <button type="button" data-action="nested-form#remove">Remove ingredient</button>
  <%= f.hidden_field :_destroy %>
</div>
