<div class="top_recipe">
  <div class="illustration">
    <%if @recipe.image.nil? %>
      <%= image-tag("recipe_placeholder.svg")%>
    <%else%>
      <%= image_tag @recipe.image %>
    <%end%>
  </div>
  <div class="photos-side-text">
    <div class="row_picture">
      <div class="title">
        <h1><%= @recipe.title %></h1>
      </div>
      <div class="love-button">
        <% if current_user.favourited_recipes.include?(@recipe) %>
          <%= link_to favourite_recipe_path(current_user.favourite_recipes.find_by(recipe: @recipe)), data: { turbo_method: :delete } do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= form_with model: [@recipe, FavouriteRecipe.new] do %>
            <button><i class="far fa-heart"></i></button>
          <% end %>
        <% end %>
      </div>      
    </div>
    <div class="row_picture">
    </div>
    <div class="row_picture">
    </div>
    <div class="row_picture">
    </div>
    <div class="row_picture">
    </div>
    <div class="row_picture">
    </div>
    <div class="row_picture">
    </div>
    <div class="row_picture">
    </div>    
  </div>
</div>
<div class="utensils_n_ingredients">
  <div class="utensils_recipe">
  </div>
  <div class="ingredients_recipe">
  </div>
</div>
<div class="instructions">
</div>
