<h1><%= @recipe.title %></h1>
  <div class="container">
    <%# if @recipe.photo.present? %>
      <%#= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill  %>
    <%#else%>
      <%#end%>
      <div class="Info">
        <h5>Prep Time</h5>
        <p><%= @recipe.prep_time %> minutes</p>
        <h5>Cooking Time</h5>
        <p><%= @recipe.cooking_time %> minutes</p>
        <h5>Total Time</h5>
        <p><%= @recipe.total_time %> minutes</p>
        <i class="fa-duotone fa-cake-slice"></i> <h5>Servings</h5>
        <p><%= @recipe.serving %></p>
        <h5>Difficulty</h5>
        <%= @recipe.difficulty %> </p>
        <h5>Utensils:</h5>
        <p><%= @recipe.utensil %></p>
      </div>
        <div class="Ingredients">
          <h5>Ingredients</h5>
            <ul>
              <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
                <li><%= recipe_ingredient.quantity %> <%= recipe_ingredient.unit %> <%= recipe_ingredient.ingredient.name %></li>
                <% end  %>
            </ul>
        </div>
          <div class="description">
            <h5>Instruction</h5>
            <p><%= @recipe.instruction %></p>
          </div>
      </div>
   </div>
