<h1><%= @recipe.title %></h1>
  <div class="container">
    <%# if @recipe.photo.present? %>
      <%#= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill  %>
    <%#else%>
      <%#end%>
      <div class="info">
        <h5>Prep Time</h5>
        <p><%= @recipe.prep_time %> minutes</p>
        <h5>Cooking Time</h5>
        <p><%= @recipe.cooking_time %> minutes</p>
        <h5>Total Time</h5>
        <p><%= @recipe.total_time %> minutes</p>
        <i class="fa-duotone fa-cake-slice"></i> <h5>Servings</h5>
        <p><%= @recipe.serving %></p>
        <h5>Difficulty</h5>
        <%= @recipe.difficulty %> </p>
        <h5>Utensils:</h5>
        <p><%= @recipe.utensil %></p>
      </div>
        <div class="ingredients">
          <h5>Ingredients</h5>
            <ul>
              <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
                <li><%= recipe_ingredient.quantity %> <%= recipe_ingredient.unit %> <%= recipe_ingredient.ingredient.name %></li>
                <% end  %>
            </ul>
        </div>
          <div class="description">
            <h5>Instruction</h5>
            <p><%= @recipe.instruction %></p>
          </div>
      </div>
      <div class="missing_ingredient">
        <h2>Missing Ingredients</h2>
          <% recipe_ingredient_ids = @recipe_ingredients.pluck(:ingredient_id) %>
          <% missing_ingredients = [] %>
          <% recipe_ingredient_ids.each do |ingredient_id| %>
            <% fridge_ingredient = FridgeIngredient.find_by(ingredient_id: ingredient_id) %>
            <% if fridge_ingredient.nil? %>
              <% fridge_ingredient = FridgeIngredient.new(ingredient_id: ingredient_id, quantity: 0) %>
            <% end %>
            <% if fridge_ingredient.quantity < @recipe_ingredients.find_by(ingredient_id: ingredient_id).quantity %>
              <% missing_ingredients << Ingredient.find(ingredient_id) %>
            <% end %>
          <% end %>
          <% if missing_ingredients.empty? %>
            <h3>You have everything for your recipe!</h3>
            <p>If you want to make your recipe now, we can automatically remove the ingredietn fromyour fridgi by clicking the link below!</p>
            <%= link_to "make recipe now", edit_recipe_path(@recipe), class: "btn btn-primary" %>
          <% else %>

            <h3>You are missing</h3>
            <% missing_ingredients.each do |ingredient| %>
              <% fridge_ingredient = FridgeIngredient.find_by(ingredient_id: ingredient.id) %>
              <% if fridge_ingredient.nil? %>
                <% fridge_ingredient = FridgeIngredient.new(ingredient_id: ingredient.id, quantity: 0) %>
              <% end %>
              <li><%= @recipe_ingredients.find_by(ingredient_id: ingredient.id).quantity - fridge_ingredient.quantity %> <%= ingredient.name %></li>
            <% end %>
            <h3>Add missing ingredients </h3>
            <%= link_to "to list", recipe_add_recipe_ingredient_to_list_recipes(@recipe), class: "btn btn-primary" %>
          <% end %>
          
        </div>
        <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary" %>
  </div>
