<h1><%= @recipe.title %></h1>
<h1><%= @recipe.prep_time %></h1>
<h1><%= @recipe.cooking_time %></h1>
<h1><%= @recipe.total_time %></h1>
<h1><%= @recipe.difficulty %></h1>
<h1><%= @recipe.utensil %></h1>
<h1><%= @recipe.instruction %></h1>


<%# Still just the raw basics, have to add dietary requirements, ingredients, frontend, buttons to redirect%>
