<div class="list">
  <% if @list_ingredients.any? %>
    <% @list_ingredients.each do |list_ingredient| %>
      <div class="line">
        <%= check_box_tag "bought", list_ingredient.id, nil, { multiple: true, form: :bulk_actions_form } %>
        <h6 <em><%= list_ingredient.ingredient.name %></em></h6>
        <h6 <em><%= list_ingredient.quantity %></em></h6>
        <h6 <em><%= list_ingredient.unit %></em></h6>
        <div class="icon">
          <%= link_to image_tag("edit.svg"), "/lists/#{list_ingredient.list_id}/list_ingredients/#{list_ingredient.id}/edit" %>
          <%= link_to image_tag("bin.svg"), "DELETE/list_ingredients/#{list_ingredient.id}",  method: :delete, data: { confirm: "Are you sure?" }  %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h6>Oups! your list is empty...</h6>
  <% end %>
</div>
