<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <%= link_to "My Fridgi", fridge_path(current_user.fridge), class: "nav-link" %>
        <%= link_to "My List", list_path(current_user.list), class: "nav-link" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
              <%= link_to 'Cookbook', '#', class: 'nav-link dropdown-toggle', id: 'dropdownMenuLink', data: { bs_toggle: 'dropdown', boundary: 'viewport', target: '#cookbookDropdown' }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="cookbook dropdown-menu dropdown-menu-start" id="cookbookDropdown" aria-labelledby="navbarDropdown">
                <%= link_to "All Recipes", recipes_path, class: "dropdown-item" %>
                <%= link_to "My Recipes", recipes_user_recipes_path, class: "dropdown-item" %>
                <%= link_to "My Favourite Recipes", favourite_recipes_path, class: "dropdown-item" %>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo_fridgi_horz.svg" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item dropdown">
          <%= image_tag "standard_avatar.jpg" , alt: "Avatar", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My Account", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Settings", "/", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
